:root {
  --body-background: #ffffff;
  --body-color: #444;
  --heading-color: black;
  --action-color: #d64079;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0 8px;
  font-size: 100%;
  line-height: 1.5;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: #ffb088;
}

h1 {
  margin: 1rem 0 2rem;
  /* text-align: center; */
  /* font-weight: 900; */
  font-size: 2.5rem;
  /* color: var(--heading-color); */
  line-height: 1.2;
}

body > header {
  margin: 0;
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

body > nav ul {
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

main {
  margin: 0.5rem auto 2rem;
  /* border: 1px solid #ddd; */
  max-width: 65rem;
  min-height: calc(100vh - 200px);
  padding: 25px 25px 50px;
  background: white;
  /* box-shadow: 2px 3px 3px #ddd; */
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

footer {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1em;
}

pre {
  background: #f8f8f8;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  margin: 1rem 0;
  overflow: auto;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 2rem 0;
}

.dark {
  /* General colors */
  --editor-text-color: #dee6f2;
  --editor-border-color: #2d3748;
  --editor-placeholder-text-color: #a0aec0;
  --editor-content-background-color: #1a202c;
  --editor-content-focus-color: #ec4899;

  /* General buttons */
  --editor-button-text-color: #7b7b7b;
  --editor-button-active-color: #1a202c;
  --editor-button-disabled-color: #2d3748;
  --editor-button-active-background-color: #2d3748;

  /* MenuBar */
  --editor-menu-bar-background-color: #1a202c;
  --editor-menu-bar-border-color: var(--editor-border-color);
  --editor-menu-bar-seperator-background-color: #2d3748;
  --editor-menu-bar-button-background-color: #1a202c;
  --editor-menu-bar-button-text-color: var(--editor-button-text-color);
  --editor-menu-bar-button-active-text-color: var(--editor-button-active-color);
  --editor-menu-bar-button-disabled-text-color: var(--editor-button-disabled-color);
  --editor-menu-bar-button-active-background-color: #1a202c;
  --editor-menu-bar-top-radius: 0rem;

  /* BubbleMenu */
  --editor-bubble-menu-background-color: #1a202c;
  --editor-bubble-menu-border-color: var(--editor-border-color);
  --editor-bubble-menu-button-text-color: var(--editor-button-text-color);
  --editor-bubble-menu-button-active-text-color: var(--editor-button-active-color);
  --editor-bubble-menu-button-disabled-text-color: var(--editor-button-disabled-color);
  --editor-bubble-menu-button-active-background-color: var(--editor-button-active-background-color);


  /* MenuList (ie Command Menu) */
  --editor-menu-list-background-color: #1a202c;
  --editor-menu-list-border-color: var(--editor-border-color);
  --editor-menu-list-item-text-color: var(--editor-text-color);
  --editor-menu-list-button-active-text-color: #dee6f2;
  --editor-menu-list-button-disabled-text-color: var(--editor-button-disabled-color);
  --editor-menu-list-button-active-background-color: var(--editor-button-active-background-color);
}
