<hr>
<footer>
  RicherText.js is v<%= version_number %>.<br>
  <a href="https://github.com/afomera/richer-text.js" target="_blank">View on GitHub</a>

  <br><br>
  RicherText (Ruby Gem)<br>
  <a href="https://github.com/afomera/richer_text" target="_blank">View on GitHub</a>
</footer>
