<header>
  <h1>Richer Text</h1>
</header>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/getting-started">Getting started</a></li>
    <li><a href="/ruby-on-rails">Ruby on Rails</a></li>
    <li><a href="/customization">Customize</a></li>
    <li><a href="/events">Events</a></li>
  </ul>
</nav>
