<header>
  <h1>Richer Text</h1>
  <hr>
</header>
<%# 
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/getting-started">Documentation</a></li>
  </ul>
</nav> %>
