<aside>
  <nav aria-label="Documentation Contents">
    <ul role="list">
      <li><h3 id="sidebar-introduction">Introduction</h3></li>

      <li><a href="/">Try it out</a></li>
      <li><a href="/getting-started">Getting Started</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/events">Editor Events</a></li>


      <li><h3 id="sidebar-ruby-on-rails">Ruby on Rails</h3></li>
      <li><a href="/ruby-on-rails#installation">Installation</a></li>
      <li><a href="/ruby-on-rails#usage">Using has_richer_text</a></li>
      <li><a href="/ruby-on-rails#json-serialization--rendering">JSON Serialization</a></li>

      <li><h3 id="sidebar-setup">Customization</h3></li>
      <li><a href="/customization#options">All options</a></li>
      <li><a href="/customization#customizing-menu-bar">Customizing the Menu Bar</a></li>
    </ul>
  </nav>
</aside>
