<aside>
  <nav aria-label="Documentation Contents">
    <ul role="list">
      <li><h3 id="sidebar-introduction">Introduction</h3></li>
      <li><a href="/docs">
        Getting Started
      </a></li>

      <li><a href="/docs/core-concepts">
        Core Concepts
      </a></li>

      <li><a href="/docs/migrating-from">
        Migrating from…?
      </a></li>

      <li><a href="/docs/philosophy">
        Our Philosophy
      </a></li>

        <li><h3 id="sidebar-setup">Setup</h3></li>
      <li><a href="/docs/installation">
        Installation Guides
      </a></li>

      <li><a href="/docs/bundled-configurations">
        Bundled Configurations
      </a></li>

      <li><a href="/docs/command-line-usage">
        Command Line Usage
      </a></li>

        <li><h3 id="sidebar-writing-content">Writing Content</h3></li>
      <li><a href="/docs/structure">
        Folder Structure
      </a></li>

      <li><a href="/docs/resources">
        Resources
      </a></li>

      <li><a href="/docs/front-matter">
        Front Matter
      </a></li>

      <li><a href="/docs/collections">
        Collections
      </a></li>

      <li><a href="/docs/prototype-pages">
        Prototype Pages
      </a></li>

      <li><a href="/docs/datafiles">
        Data Files
      </a></li>

      <li><a href="/docs/static-files">
        Static Files
      </a></li>

        <li><h3 id="sidebar-designing-your-site">Designing Your Site</h3></li>
      <li><a href="/docs/template-engines">
        Choose Your Template Engine
      </a></li>

      <li><a href="/docs/layouts">
        Layouts
      </a></li>

      <li><a href="/docs/components">
        Components
      </a></li>

      <li><a href="/docs/frontend-assets">
        Frontend Bundling (CSS/JS/etc.)
      </a></li>

        <li><h3 id="sidebar-publishing-your-site">Publishing Your Site</h3></li>
      <li><a href="/docs/deployment">
        Deploy to Production
      </a></li>

      <li><a href="/docs/testing">
        Automated Testing
      </a></li>

        <li><h3 id="sidebar-configuration">Configuration</h3></li>
      <li><a href="/docs/configuration">
        Customize Your Site
      </a></li>

      <li><a href="/docs/plugins">
        Extend with Plugins
      </a></li>

      <li><a href="/docs/themes" aria-current="page">
        Themes
      </a></li>

      <li><a href="/docs/automations">
        Automations
      </a></li>

      <li><a href="/docs/internationalization">
        Internationalization (I18n)
      </a></li>

      <li><a href="/docs/variables">
        Variables
      </a></li>

        <li><h3 id="sidebar-experimental">Experimental</h3></li>
      <li><a href="/docs/routes">
        Dynamic Routes &amp; SSR
      </a></li>

      <li><a href="/docs/islands">
        Islands Architecture
      </a></li>
    </ul>
  </nav>
</aside>
