<header>
  <h1>Richer Text</h1>
</header>

<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/theming' | relative_url }}">Theming</a></li>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
  </ul>
</nav>
