[hidden] {
  display: none !important;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
}

:root {
  /* Callouts */
  --callout-gray-background-color: #F2F3F7;
  --callout-gray-border-color: #D0D5DD;
  --callout-gray-text-color: #344054;

  --callout-blue-background-color: #D1E9FF;
  --callout-blue-border-color: #84CAFF;
  --callout-blue-text-color: #2b6fe6;

  --callout-green-background-color: #D1F2D7;
  --callout-green-border-color: #84E1A9;
  --callout-green-text-color: #0F8B3D;

  --callout-yellow-background-color: #FFF9D1;
  --callout-yellow-border-color: #FFE084;
  --callout-yellow-text-color: #a38310;

  --callout-red-background-color: #fedada;
  --callout-red-border-color: #ff8484;
  --callout-red-text-color: #B30000;

  /* General colors */
  --rte-text-color: #374151;
  --rte-border-color: #D0D5DD;
  --rte-placeholder-text-color: #a0aec0;
  --rte-content-background-color: #ffffff;
  --rte-content-focus-color: #ec4899;
  --rte-link-color: #ec4899;

  /* Highlight colors */
  --rte-highlight-color-one: #FEB7B3;
  --rte-highlight-color-two: #fef1b3;
  --rte-highlight-color-three: #b3dcfe;

  /* General buttons */
  --rte-button-text-color: #667085;
  --rte-button-active-color: #101828;
  --rte-button-disabled-color: #D0D5DD;
  --rte-button-active-background-color: #f1f3f8;
  --rte-button-size: 20px;

  /* MenuBar */
  --rte-menu-bar-background-color: #ffffff;
  --rte-menu-bar-border-color: var(--rte-border-color);
  --rte-menu-bar-seperator-background-color: #D0D5DD;
  --rte-menu-bar-button-background-color: #ffffff;
  --rte-menu-bar-button-text-color: var(--rte-button-text-color);
  --rte-menu-bar-button-active-text-color: var(--rte-button-active-color);
  --rte-menu-bar-button-disabled-text-color: var(--rte-button-disabled-color);
  --rte-menu-bar-button-active-background-color: #f1f3f8;
  --rte-menu-bar-top-radius: 0rem;

  /* BubbleMenu */
  --rte-bubble-menu-background-color: #ffffff;
  --rte-bubble-menu-border-color: var(--rte-border-color);
  --rte-bubble-menu-button-text-color: var(--rte-button-text-color);
  --rte-bubble-menu-button-active-text-color: var(--rte-button-active-color);
  --rte-bubble-menu-button-disabled-text-color: var(--rte-button-disabled-color);
  --rte-bubble-menu-button-active-background-color: var(--rte-button-active-background-color);

  /* MenuList (ie Command Menu) */
  --rte-menu-list-background-color: #ffffff;
  --rte-menu-list-border-color: var(--rte-border-color);
  --rte-menu-list-item-text-color: var(--rte-text-color);
  --rte-menu-list-button-active-text-color: var(--rte-button-active-color);
  --rte-menu-list-button-disabled-text-color: var(--rte-button-disabled-color);
  --rte-menu-list-button-active-background-color: var(--rte-button-active-background-color);

  /* Tables */
  --rte-table-border-color: var(--rte-border-color);
  --rte-table-header-background-color: #f1f3f5;
  --rte-table-selected-cell-background-color: rgba(200, 200, 255, 0.4);

  /* Tooltips */
  --rte-tooltip-background-color: #000000;
  --rte-tooltip-text-color: #ffffff;

  /* Code */
  --rte-code-background-color: rgba(97, 97, 97, 0.1);
  --rte-code-text-color: #616161;
}

html.dark {
  /* General colors */
  --rte-text-color: #dee6f2;
  --rte-border-color: #2d3748;
  --rte-placeholder-text-color: #94a3b8;
  --rte-content-background-color: #171717;
  --rte-content-focus-color: #ec4899;

  /* General buttons */
  --rte-button-text-color: #94a3b8;
  --rte-button-active-color: #0a0a0a;
  --rte-button-disabled-color: #2d3748;
  --rte-button-active-background-color: #2d3748;

  /* MenuBar */
  --rte-menu-bar-background-color: #0a0a0a;
  --rte-menu-bar-border-color: var(--rte-border-color);
  --rte-menu-bar-seperator-background-color: #2d3748;
  --rte-menu-bar-button-background-color: #0a0a0a;
  --rte-menu-bar-button-text-color: var(--rte-button-text-color);
  --rte-menu-bar-button-active-text-color: var(--rte-button-active-color);
  --rte-menu-bar-button-disabled-text-color: var(--rte-button-disabled-color);
  --rte-menu-bar-button-active-background-color: #0a0a0a;
  --rte-menu-bar-top-radius: 0rem;

  /* BubbleMenu */
  --rte-bubble-menu-background-color: #0a0a0a;
  --rte-bubble-menu-border-color: var(--rte-border-color);
  --rte-bubble-menu-button-text-color: var(--rte-button-text-color);
  --rte-bubble-menu-button-active-text-color: var(--rte-button-active-color);
  --rte-bubble-menu-button-disabled-text-color: var(--rte-button-disabled-color);
  --rte-bubble-menu-button-active-background-color: var(--rte-button-active-background-color);

  /* MenuList (ie Command Menu) */
  --rte-menu-list-background-color: #0a0a0a;
  --rte-menu-list-border-color: var(--rte-border-color);
  --rte-menu-list-item-text-color: var(--rte-text-color);
  --rte-menu-list-button-active-text-color: #dee6f2;
  --rte-menu-list-button-disabled-text-color: var(--rte-button-disabled-color);
  --rte-menu-list-button-active-background-color: var(--rte-button-active-background-color);

  /* Tables */
  --rte-table-border-color: var(--rte-border-color);
  --rte-table-header-background-color: #262626;
  --rte-table-selected-cell-background-color: rgba(200, 200, 255, 0.4);

  /* Tooltips */
  --rte-tooltip-background-color: #000000;
  --rte-tooltip-text-color: #ffffff;

  /* Code */
  --rte-code-background-color: rgba(97, 97, 97, 0.1);
  --rte-code-text-color: #616161;
}

@media (max-width: 767px) {
  .richer-text-editor--hide-on-mobile {
    display: none;
  }
}

.richer-text-editor--menu-list-dropdown {
  background-color: var(--rte-menu-list-background-color);
  border: 1px solid var(--rte-menu-list-border-color);
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.richer-text-editor--menu-list-dropdown .richer-text-editor--menu-list-dropdown-group {
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
}

.richer-text-editor--menu-list-dropdown .richer-text-editor--menu-list-dropdown-group:last-child {
  margin-bottom: 0;
}

.richer-text-editor--menu-list-dropdown .richer-text-editor--menu-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--rte-menu-list-item-text-color);
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.richer-text-editor--menu-list-dropdown .richer-text-editor--menu-list-item:hover {
  color: var(--rte-menu-list-button-active-text-color);
  background-color: var(--rte-menu-list-button-active-background-color);
}

.richer-text-editor--menu-list-dropdown .richer-text-editor--menu-list-item.is-active {
  color: var(--rte-menu-list-button-active-text-color);
  background-color: var(--rte-menu-list-button-active-background-color);
}

html.dark hr {
  border-color: #dee6f2 !important;
}

.richer-text-editor--bubble-menu-form {
  display: flex;
  align-items: center;
  width: 420px;
}

.richer-text-editor--bubble-menu-form input {
  flex: 1;
  border: none;
  background-color: transparent;
  color: var(--rte-text-color);
  font-size: 1rem;
  padding: 0.5rem;
}

.callout {
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  border-width: 1px;
  word-break: break-word;
}

.callout p {
  color: inherit !important;
}

.callout strong {
  color: inherit !important;
}

.callout[data-color='gray'] {
  background-color: var(--callout-gray-background-color);
  border-color: var(--callout-gray-border-color);
  color: var(--callout-gray-text-color) !important;
}

.callout[data-color='blue'] {
  background-color: var(--callout-blue-background-color);
  border-color: var(--callout-blue-border-color);
  color: var(--callout-blue-text-color) !important;
}

.callout[data-color='green'] {
  background-color: var(--callout-green-background-color);
  border-color: var(--callout-green-border-color);
  color: var(--callout-green-text-color) !important;
}

.callout[data-color='yellow'] {
  background-color: var(--callout-yellow-background-color);
  border-color: var(--callout-yellow-border-color);
  color: var(--callout-yellow-text-color) !important;
}

.callout[data-color='red'] {
  background-color: var(--callout-red-background-color);
  border-color: var(--callout-red-border-color);
  color: var(--callout-red-text-color) !important;
}

.callout p:first-child {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.callout p:last-child {
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.richer-text-editor {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--rte-text-color);
}

.ProseMirror .has-focus {
  /* border-radius: 3px; */
  /* box-shadow: 0 0 0 3px #fd8fd4; */
}

pre.has-focus {
  outline: 2px solid var(--rte-content-focus-color);
}

div.richer-text-editor--hr.has-focus {
  outline: 2px solid var(--rte-content-focus-color);
}

div.richer-text-editor--hr {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
div.richer-text-editor--hr hr {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.richer-text-editor [contenteditable="true"] {
  padding: 0.5rem;
  border: 1px solid var(--rte-border-color);
  outline: none;
  overflow-y: scroll;
  min-height: 250px;
  max-height: 700px;
}

.richer-text-editor [contenteditable="true"]:focus {
  border: 2px solid var(--rte-content-focus-color);
}

.richer-text-editor ul {
  list-style-type: disc;
  padding-left: 2.5rem;
  margin-left: 1rem;
}

.richer-text-editor ol {
  list-style-type: decimal;
  padding-left: 2.5rem;
  margin-left: 1rem;
}

.richer-text-editor--bubble-menu, .richer-text-editor--edit-menu {
  background-color: var(--rte-bubble-menu-background-color);
  border: 1px solid var(--rte-bubble-menu-border-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.richer-text-editor--bubble-menu .richer-text-editor--bubble-menu-highlighter-menu {
  background-color: var(--rte-bubble-menu-background-color);
  display: flex;
  align-items: center;
}

.richer-text-editor--bubble-menu button {
  color: var(--rte-bubble-menu-button-text-color);
  background-color: var(--rte-menu-bar-button-background-color);
  padding: 0.3rem;
  margin: 0.2rem;
}

.richer-text-editor--bubble-menu button:hover {
  color: var(--rte-bubble-menu-button-active-text-color);
  background-color: var(--rte-bubble-menu-button-active-background-color);
}

.richer-text-editor--bubble-menu button:active {
  color: var(--rte-bubble-menu-button-active-text-color);
  background-color: var(--rte-bubble-menu-button-active-background-color);
}

.richer-text-editor--bubble-menu button:disabled {
  color: var(--rte-bubble-menu-button-disabled-text-color);
}

.richer-text-editor--bubble-menu button svg {
  width: var(--rte-button-size);
  height: var(--rte-button-size);
}

.richer-text-editor--bubble-menu button.is-active {
  color: var(--rte-bubble-menu-button-active-text-color);
  background-color: var(--rte-bubble-menu-button-active-background-color);
}

.richer-text-editor--edit-menu button {
  color: var(--rte-bubble-menu-button-text-color);
  background-color: var(--rte-menu-bar-button-background-color);
  padding: 0.3rem;
  margin: 0.2rem;
}

.richer-text-editor--edit-menu button:hover {
  color: var(--rte-bubble-menu-button-active-text-color);
  background-color: var(--rte-bubble-menu-button-active-background-color);
}

.richer-text-editor--edit-menu button:active {
  color: var(--rte-bubble-menu-button-active-text-color);
  background-color: var(--rte-bubble-menu-button-active-background-color);
}

.richer-text-editor--edit-menu button:disabled {
  color: var(--rte-bubble-menu-button-disabled-text-color);
}

.richer-text-editor--edit-menu button.is-active {
  color: var(--rte-bubble-menu-button-active-text-color);
  background-color: var(--rte-bubble-menu-button-active-background-color);
}

.richer-text-editor--menu-bar {
  background-color: var(--rte-menu-bar-background-color);
  border-color: var(--rte-menu-bar-border-color);
  border-width: 1px;
  border-top-left-radius: var(--rte-menu-bar-top-radius);
  border-top-right-radius: var(--rte-menu-bar-top-radius);
  border-left: 1px solid var(--rte-menu-bar-border-color);
  border-right: 1px solid var(--rte-menu-bar-border-color);
  border-top: 1px solid var(--rte-menu-bar-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.richer-text-editor--menu-bar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.richer-text-editor--menu-bar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.richer-text-editor--menu-bar .richer-text-editor--menu-bar-seperator {
  background-color: var(--rte-menu-bar-seperator-background-color);
  height: 1.25rem;
  width: 1px;
  margin: 0 0.5rem;
}

.richer-text-editor--menu-bar button {
  color: var(--rte-menu-bar-button-text-color);
  background-color: var(--rte-menu-bar-button-background-color);
  padding: 0.5rem;
}

.richer-text-editor--menu-bar button:hover {
  color: var(--rte-menu-bar-button-active-color);
  background-color: var(--rte-menu-bar-button-active-background-color);
}

.richer-text-editor--menu-bar button:active {
  color: var(--rte-menu-bar-button-active-color);
  background-color: var(--rte-menu-bar-button-active-background-color);
}

.richer-text-editor--menu-bar button:disabled {
  color: var(--rte-menu-bar-button-disabled-text-color);
}

.richer-text-editor--menu-bar button svg {
  width: var(--rte-button-size);
  height: var(--rte-button-size);
}

.richer-text-editor--menu-bar button.is-active {
  color: var(--rte-menu-bar-background-text-color);
  background-color: var(--rte-menu-bar-button-active-background-color);
}

.richer-text-editor--content {
  background-color: var(--rte-content-background-color);
  /* border: 1px solid var(--rte-border-color); */
  /* padding: 0.5rem; */
}

/* Basic editor styles */
.ProseMirror>*+* {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror h1 {
  font-size: 1.65em;
}

.ProseMirror h2 {
  font-size: 1.5em;
}

.ProseMirror h3 {
  font-size: 1.25em;
}

.ProseMirror code {
  background-color: var(--rte-code-background-color);
  color: var(--rte-code-text-color);
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.ProseMirror a {
  color: var(--rte-link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--rte-link-color);
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.ProseMirror p.is-empty::before {
  color: var(--rte-placeholder-text-color);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.ProseMirror table td,
.ProseMirror table th {
  border: 2px solid var(--rte-table-border-color);
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}

.ProseMirror table td>*,
.ProseMirror table th>* {
  margin-bottom: 0;
}

.ProseMirror table th {
  background-color: var(--rte-table-header-background-color);
  font-weight: bold;
  text-align: left;
}

.ProseMirror table .selectedCell:after {
  background: var(--rte-table-selected-cell-background-color);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.ProseMirror table .column-resize-handle {
  background-color: #adf;
  bottom: -2px;
  position: absolute;
  right: -2px;
  pointer-events: none;
  top: 0;
  width: 4px;
}

.ProseMirror table p {
  margin: 0;
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.richer-text-tooltip {
  background-color: var(--rte-tooltip-background-color);
  max-width: 420px;
  color: var(--rte-tooltip-text-color);
  border-radius: 8px;
  padding: 4px 4px;
  font-size: small;
}

.ProseMirror .richer-text--mention {
  background-color: #e2e8f0;
  border-radius: 0.25rem;
  padding: 0.1rem 0.25rem;
  color: #4a5568;

  align-items: center;
  gap: 0.25rem;
}

.ProseMirror .richer-text--mention-img {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
}

/* Rendered out mentions */
.richer-text--mention {
  border-radius: 0.25rem;
  padding: 0.1rem 0.25rem;
  color: #4a5568;

  align-items: center;
  gap: 0.25rem;
}

.richer-text--mention-img {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
}
